/* Подключение шрифтов */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Скрытие семантических тегов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизация главных тегов */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;

  color: #2D3440;
  background-color: #FEAFC3;
}

/* Ссылки и кнопки */
.common-link { /* Общие стили для ссылок */
  text-decoration: none;
  color: inherit;
}

.main-btn { /* свойства основных кнопок и ссылок */
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.form-btn { /* свойства кнопок и ссылок в формах */
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
}

/* Сетка */
.container {
  margin: 0 auto;
  width: 1366px;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.main-index {
  flex-grow: 1;
}

/* HEADER */
/* navigation */
.page-header {
  min-height: 104px;
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  line-height: 20px;
}

.nav-list, .nav-tel, .nav-logo {
  margin: 0;
  padding: 0;
}

.nav-container-left {
  display: flex;
  min-width: 575px;
  align-items: center;
}

.nav-logo {
  margin-right: 32px;
}

.nav-item, .nav-tel {
  margin-right: 16px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-container-right {
  display: flex;
  min-width: 431px;
  align-items: center;
}

.nav-tel {
  font-weight: 700;
}

.nav-user {
  font-size: 14px;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* MAIN */
.gifts-title,
.fillings-title,
.about-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.filling-title,
.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.filling-desc,
.card-desc {
  text-align: center;
  color: #565C66;
}

.filling-price,
.card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.about-desc,
.newsletter-desc,
.delivery-desc,
.delivery-form-desc,
.contacts-address-desc { /* общий цвет у описаний */
  color: #565C66;
}

/* section - slider */
.slider-list-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-list-desc {
  font-size: 18px;
  line-height: 24px;
}

/* section - gift */

/* section - filling */
.gift-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* section - about */
.about {
  background: url("../images/wafer-border.png") no-repeat;
  width: 1170px;
  min-height: 480px;
  border-radius: 16px;
}

/* article - news */
.article {
  background: url("../images/news.png") no-repeat;
  width: 570px;
  min-height: 224px;
  border-radius: 16px;
}

.article-news {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.article-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.newsletter {
  background: url("../images/mail-border.png") no-repeat;
  width: 570px;
  min-height: 224px;
  border-radius: 16px;
}

/* section - delivery */
.delivery {
  background: url("../images/delivery.png") no-repeat;
  width: 1170px;
  min-height: 534px;
  border-radius: 16px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-form-label {
  font-weight: 700;
  line-height: 20px;
}

/* section - contacts */
.contacts {
  background: url("../images/contacts.png") no-repeat;
  width: 1170px;
  min-height: 492px;
  border-radius: 16px;
}

.contacts-address {
  font-style: normal;
}

.contacts-address-data {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-tel {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-desc {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

/* КАТАЛОГ */
.breadcrumbs-item, .filter-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-item-underline {
  text-decoration: underline;
}

.main-catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.filter-group {
  font-size: 14px;
  line-height: 20px;
}

.pagination-item {
  font-size: 16px;
  line-height: 20px;
}

/* FOOTER */
.footer-menu-item {
  font-size: 14px;
  line-height: 20px;
}

.footer-menu-item-b {
  font-weight: 700;
}

.copyright-text {
  font-size: 12px;
  line-height: 16px;
}
